
.red { color: red; }

.align-center { text-align: center; }

.newcolor { color: rgb(138, 7, 138); }

img {
    display: block;
    margin: auto;
    border-radius: 15px;
}

.btn {
    display: block;
    margin: auto;
    margin-top: 8px;
}

#allPage {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    background-image: linear-gradient(#00F0FF, #2b2edf);
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #777202;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #777202;
    padding: 8px;
}

.container-lg {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    background-image: linear-gradient(#00F0FF, #2b2edf);
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #777202;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #777202;
    padding: 8px;
    justify-content: center;
    text-align: center;
}

h1, h5 {
    padding-top: 12px;
    padding-bottom: 12px;
}

fieldset {
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px #db0694;
    padding: 12px;
}

#copyright {
    font-size: x-small;
}

label {
    width: 200px;
    float: left;
    text-align: right;
    padding-right: 3px;
}
